* {
  box-sizing: border-box;
}

html {
  font-family: "League Spartan", sans-serif;
  height: 100%;
  margin: 0;
}

body {
  margin: 0;

  .principal-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;

    header {
      text-align: center;
      max-width: 80%;
    }

    main {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .rate-section {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .rate-containers {
          width: 100%;
          height: 100%;
          background-color: rgb(218, 218, 218);
          margin-bottom: 10px;
          border-radius: 10px;
          padding: 10px;

          .rate-stars {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-bottom: 5px;

            img {
              padding: 2px;
            }
          }

          p {
            text-align: center;
            margin: 0;
          }
        }
      }
      .comments-section {
        width: 80%;
        display: flex;
        flex-direction: column;

        .comments-container {
          background-color: hsl(300, 43%, 22%);
          border-radius: 10px;
          padding: 10px;
          margin-bottom: 10px;

          .comments-user-info {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-right: 50px;

            img {
              height: 40px;
              border-radius: 50%;
            }

            h2 {
              font-size: 1rem;
              color: white;
              margin: 5px 0 5px 0;
            }

            p {
              color: hsl(333, 80%, 67%);
              margin: 5px 0 5px 0;
            }
          }

          .commentary {
            color: white;
            margin: 10px;
          }
        }
      }
    }
  }
  @media screen and (min-width: 900px) {
    main {
      .comments-section {
        display: grid;
      }
    }
  }
}
